<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel guarantors edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="guarantors_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN full_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_full_name}  r-vertical-field" 
	data-signal-error-for="full_name{$id}" {$required_attr_full_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="full_name" data-fieldname="full_name" >

	<label class="r-edit-label control-label {$full_name_label_class}" for="{$labelfor_full_name}">
		{BEGIN full_name_label}
			{$full_name_forward_control}
			{$label guarantors full_name }			{END full_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$full_name_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="full_name" {$tooltipAttr guarantors full_name } >
		<div class="text-muted" >
		{$tooltip guarantors full_name }		</div>
	</div>
	</div>


{END full_name_fieldblock}
											
{BEGIN sex_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sex}  r-vertical-field" 
	data-signal-error-for="sex{$id}" {$required_attr_sex}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="sex" data-fieldname="sex" >

	<label class="r-edit-label control-label {$sex_label_class}" for="{$labelfor_sex}">
		{BEGIN sex_label}
			{$sex_forward_control}
			{$label guarantors sex }			{END sex_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sex_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="sex" {$tooltipAttr guarantors sex } >
		<div class="text-muted" >
		{$tooltip guarantors sex }		</div>
	</div>
	</div>


{END sex_fieldblock}
											
{BEGIN birthday_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_birthday}  r-vertical-field" 
	data-signal-error-for="birthday{$id}" {$required_attr_birthday}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="birthday" data-fieldname="birthday" >

	<label class="r-edit-label control-label {$birthday_label_class}" for="{$labelfor_birthday}">
		{BEGIN birthday_label}
			{$birthday_forward_control}
			{$label guarantors birthday }			{END birthday_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$birthday_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="birthday" {$tooltipAttr guarantors birthday } >
		<div class="text-muted" >
		{$tooltip guarantors birthday }		</div>
	</div>
	</div>


{END birthday_fieldblock}
											
{BEGIN office_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_office}  r-vertical-field" 
	data-signal-error-for="office{$id}" {$required_attr_office}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="office" data-fieldname="office" >

	<label class="r-edit-label control-label {$office_label_class}" for="{$labelfor_office}">
		{BEGIN office_label}
			{$office_forward_control}
			{$label guarantors office }			{END office_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$office_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="office" {$tooltipAttr guarantors office } >
		<div class="text-muted" >
		{$tooltip guarantors office }		</div>
	</div>
	</div>


{END office_fieldblock}
											
{BEGIN classification_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_classification}  r-vertical-field" 
	data-signal-error-for="classification{$id}" {$required_attr_classification}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="classification" data-fieldname="classification" >

	<label class="r-edit-label control-label {$classification_label_class}" for="{$labelfor_classification}">
		{BEGIN classification_label}
			{$classification_forward_control}
			{$label guarantors classification }			{END classification_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$classification_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="classification" {$tooltipAttr guarantors classification } >
		<div class="text-muted" >
		{$tooltip guarantors classification }		</div>
	</div>
	</div>


{END classification_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label guarantors created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="created_at" {$tooltipAttr guarantors created_at } >
		<div class="text-muted" >
		{$tooltip guarantors created_at }		</div>
	</div>
	</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label {$updated_at_label_class}" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}
			{$updated_at_forward_control}
			{$label guarantors updated_at }			{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="updated_at" {$tooltipAttr guarantors updated_at } >
		<div class="text-muted" >
		{$tooltip guarantors updated_at }		</div>
	</div>
	</div>


{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN reset_button}
	<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
{END reset_button}
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="guarantors_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
