<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel patients view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN first_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_first_name}  r-vertical-field" 
	data-signal-error-for="first_name{$id}" {$required_attr_first_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="first_name" data-fieldname="first_name" >

	<label class="r-edit-label control-label {$first_name_label_class}" for="{$labelfor_first_name}">
		{BEGIN first_name_label}
			{$first_name_forward_control}
			{$label patients first_name }			{END first_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$first_name_value}	</div>
	</div>


{END first_name_fieldblock}
											
{BEGIN last_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_name}  r-vertical-field" 
	data-signal-error-for="last_name{$id}" {$required_attr_last_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="last_name" data-fieldname="last_name" >

	<label class="r-edit-label control-label {$last_name_label_class}" for="{$labelfor_last_name}">
		{BEGIN last_name_label}
			{$last_name_forward_control}
			{$label patients last_name }			{END last_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$last_name_value}	</div>
	</div>


{END last_name_fieldblock}
											
{BEGIN middle_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_middle_name}  r-vertical-field" 
	data-signal-error-for="middle_name{$id}" {$required_attr_middle_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="middle_name" data-fieldname="middle_name" >

	<label class="r-edit-label control-label {$middle_name_label_class}" for="{$labelfor_middle_name}">
		{BEGIN middle_name_label}
			{$middle_name_forward_control}
			{$label patients middle_name }			{END middle_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$middle_name_value}	</div>
	</div>


{END middle_name_fieldblock}
											
{BEGIN sex_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sex}  r-vertical-field" 
	data-signal-error-for="sex{$id}" {$required_attr_sex}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="sex" data-fieldname="sex" >

	<label class="r-edit-label control-label {$sex_label_class}" for="{$labelfor_sex}">
		{BEGIN sex_label}
			{$sex_forward_control}
			{$label patients sex }			{END sex_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sex_value}	</div>
	</div>


{END sex_fieldblock}
											
{BEGIN birthday_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_birthday}  r-vertical-field" 
	data-signal-error-for="birthday{$id}" {$required_attr_birthday}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="birthday" data-fieldname="birthday" >

	<label class="r-edit-label control-label {$birthday_label_class}" for="{$labelfor_birthday}">
		{BEGIN birthday_label}
			{$birthday_forward_control}
			{$label patients birthday }			{END birthday_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$birthday_value}	</div>
	</div>


{END birthday_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label patients created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_value}	</div>
	</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label {$updated_at_label_class}" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}
			{$updated_at_forward_control}
			{$label patients updated_at }			{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_value}	</div>
	</div>


{END updated_at_fieldblock}
											
{BEGIN full_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_full_name}  r-vertical-field" 
	data-signal-error-for="full_name{$id}" {$required_attr_full_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="full_name" data-fieldname="full_name" >

	<label class="r-edit-label control-label {$full_name_label_class}" for="{$labelfor_full_name}">
		{BEGIN full_name_label}
			{$full_name_forward_control}
			{$label patients full_name }			{END full_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$full_name_value}	</div>
	</div>


{END full_name_fieldblock}
											
{BEGIN classification_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_classification}  r-vertical-field" 
	data-signal-error-for="classification{$id}" {$required_attr_classification}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="classification" data-fieldname="classification" >

	<label class="r-edit-label control-label {$classification_label_class}" for="{$labelfor_classification}">
		{BEGIN classification_label}
			{$classification_forward_control}
			{$label patients classification }			{END classification_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$classification_value}	</div>
	</div>


{END classification_fieldblock}
											
{BEGIN office_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_office}  r-vertical-field" 
	data-signal-error-for="office{$id}" {$required_attr_office}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="office" data-fieldname="office" >

	<label class="r-edit-label control-label {$office_label_class}" for="{$labelfor_office}">
		{BEGIN office_label}
			{$office_forward_control}
			{$label patients office }			{END office_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$office_value}	</div>
	</div>


{END office_fieldblock}
											
{BEGIN college_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_college}  r-vertical-field" 
	data-signal-error-for="college{$id}" {$required_attr_college}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="college" data-fieldname="college" >

	<label class="r-edit-label control-label {$college_label_class}" for="{$labelfor_college}">
		{BEGIN college_label}
			{$college_forward_control}
			{$label patients college }			{END college_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$college_value}	</div>
	</div>


{END college_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="patients_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
