<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel professionals add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN person_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_person_id}  r-vertical-field" 
	data-signal-error-for="person_id{$id}" {$required_attr_person_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="person_id" data-fieldname="person_id" >

	<label class="r-edit-label control-label {$person_id_label_class}" for="{$labelfor_person_id}">
		{BEGIN person_id_label}
			{$person_id_forward_control}
			{$label professionals person_id }			{END person_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$person_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="person_id" {$tooltipAttr professionals person_id } >
		<div class="text-muted" >
		{$tooltip professionals person_id }		</div>
	</div>
	</div>


{END person_id_fieldblock}
											
{BEGIN person_type_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_person_type_id}  r-vertical-field" 
	data-signal-error-for="person_type_id{$id}" {$required_attr_person_type_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="person_type_id" data-fieldname="person_type_id" >

	<label class="r-edit-label control-label {$person_type_id_label_class}" for="{$labelfor_person_type_id}">
		{BEGIN person_type_id_label}
			{$person_type_id_forward_control}
			{$label professionals person_type_id }			{END person_type_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$person_type_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="person_type_id" {$tooltipAttr professionals person_type_id } >
		<div class="text-muted" >
		{$tooltip professionals person_type_id }		</div>
	</div>
	</div>


{END person_type_id_fieldblock}
											
{BEGIN professional_type_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_professional_type_id}  r-vertical-field" 
	data-signal-error-for="professional_type_id{$id}" {$required_attr_professional_type_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="professional_type_id" data-fieldname="professional_type_id" >

	<label class="r-edit-label control-label {$professional_type_id_label_class}" for="{$labelfor_professional_type_id}">
		{BEGIN professional_type_id_label}
			{$professional_type_id_forward_control}
			{$label professionals professional_type_id }			{END professional_type_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$professional_type_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="professional_type_id" {$tooltipAttr professionals professional_type_id } >
		<div class="text-muted" >
		{$tooltip professionals professional_type_id }		</div>
	</div>
	</div>


{END professional_type_id_fieldblock}
											
{BEGIN profession_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_profession}  r-vertical-field" 
	data-signal-error-for="profession{$id}" {$required_attr_profession}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="profession" data-fieldname="profession" >

	<label class="r-edit-label control-label {$profession_label_class}" for="{$labelfor_profession}">
		{BEGIN profession_label}
			{$profession_forward_control}
			{$label professionals profession }			{END profession_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$profession_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="profession" {$tooltipAttr professionals profession } >
		<div class="text-muted" >
		{$tooltip professionals profession }		</div>
	</div>
	</div>


{END profession_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label professionals created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="created_at" {$tooltipAttr professionals created_at } >
		<div class="text-muted" >
		{$tooltip professionals created_at }		</div>
	</div>
	</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label {$updated_at_label_class}" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}
			{$updated_at_forward_control}
			{$label professionals updated_at }			{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="updated_at" {$tooltipAttr professionals updated_at } >
		<div class="text-muted" >
		{$tooltip professionals updated_at }		</div>
	</div>
	</div>


{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		{BEGIN reset_button}
<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
{END reset_button}
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
