<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel transactions view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN transaction_number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_transaction_number}  r-vertical-field" 
	data-signal-error-for="transaction_number{$id}" {$required_attr_transaction_number}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="transaction_number" data-fieldname="transaction_number" >

	<label class="r-edit-label control-label {$transaction_number_label_class}" for="{$labelfor_transaction_number}">
		{BEGIN transaction_number_label}
			{$transaction_number_forward_control}
			{$label transactions transaction_number }			{END transaction_number_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$transaction_number_value}	</div>
	</div>


{END transaction_number_fieldblock}
											
{BEGIN patient_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_patient_id}  r-vertical-field" 
	data-signal-error-for="patient_id{$id}" {$required_attr_patient_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="patient_id" data-fieldname="patient_id" >

	<label class="r-edit-label control-label {$patient_id_label_class}" for="{$labelfor_patient_id}">
		{BEGIN patient_id_label}
			{$patient_id_forward_control}
			{$label transactions patient_id }			{END patient_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$patient_id_value}	</div>
	</div>


{END patient_id_fieldblock}
											
{BEGIN patient_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_patient_type}  r-vertical-field" 
	data-signal-error-for="patient_type{$id}" {$required_attr_patient_type}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="patient_type" data-fieldname="patient_type" >

	<label class="r-edit-label control-label {$patient_type_label_class}" for="{$labelfor_patient_type}">
		{BEGIN patient_type_label}
			{$patient_type_forward_control}
			{$label transactions patient_type }			{END patient_type_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$patient_type_value}	</div>
	</div>


{END patient_type_fieldblock}
											
{BEGIN status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-vertical-field" 
	data-signal-error-for="status{$id}" {$required_attr_status}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >

	<label class="r-edit-label control-label {$status_label_class}" for="{$labelfor_status}">
		{BEGIN status_label}
			{$status_forward_control}
			{$label transactions status }			{END status_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$status_value}	</div>
	</div>


{END status_fieldblock}
											
{BEGIN total_due_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total_due}  r-vertical-field" 
	data-signal-error-for="total_due{$id}" {$required_attr_total_due}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="total_due" data-fieldname="total_due" >

	<label class="r-edit-label control-label {$total_due_label_class}" for="{$labelfor_total_due}">
		{BEGIN total_due_label}
			{$total_due_forward_control}
			{$label transactions total_due }			{END total_due_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$total_due_value}	</div>
	</div>


{END total_due_fieldblock}
											
{BEGIN total_paid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total_paid}  r-vertical-field" 
	data-signal-error-for="total_paid{$id}" {$required_attr_total_paid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="total_paid" data-fieldname="total_paid" >

	<label class="r-edit-label control-label {$total_paid_label_class}" for="{$labelfor_total_paid}">
		{BEGIN total_paid_label}
			{$total_paid_forward_control}
			{$label transactions total_paid }			{END total_paid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$total_paid_value}	</div>
	</div>


{END total_paid_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label {$created_at_label_class}" for="{$labelfor_created_at}">
		{BEGIN created_at_label}
			{$created_at_forward_control}
			{$label transactions created_at }			{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_value}	</div>
	</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label {$updated_at_label_class}" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}
			{$updated_at_forward_control}
			{$label transactions updated_at }			{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_value}	</div>
	</div>


{END updated_at_fieldblock}
											
{BEGIN patient_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_patient_name}  r-vertical-field" 
	data-signal-error-for="patient_name{$id}" {$required_attr_patient_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="patient_name" data-fieldname="patient_name" >

	<label class="r-edit-label control-label {$patient_name_label_class}" for="{$labelfor_patient_name}">
		{BEGIN patient_name_label}
			{$patient_name_forward_control}
			{$label transactions patient_name }			{END patient_name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$patient_name_value}	</div>
	</div>


{END patient_name_fieldblock}
											
{BEGIN opd_attendance_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_opd_attendance}  r-vertical-field" 
	data-signal-error-for="opd_attendance{$id}" {$required_attr_opd_attendance}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="opd_attendance" data-fieldname="opd_attendance" >

	<label class="r-edit-label control-label {$opd_attendance_label_class}" for="{$labelfor_opd_attendance}">
		{BEGIN opd_attendance_label}
			{$opd_attendance_forward_control}
			{$label transactions opd_attendance }			{END opd_attendance_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$opd_attendance_value}	</div>
	</div>


{END opd_attendance_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="transactions_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
